<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/board.css?after">
</head>
<body>
    <a href="/board/save" class="goSaveBtn">글작성</a>
    <table>
        <tr>
            <th>   </th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회</th>
        </tr>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
    </table>
    <div class="paging">
        <a th:href="@{/board/(page=1)}" class="first"><<</a>
        <a th:href="${boardList.first} ? '#' : @{/board/(page=${boardList.number})}" class="arrow-left"><</a>
        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <span th:if="${page == boardList.number + 1}" th:text="${page}" class="num" id="currentPage"></span>
        <span th:unless="${page == boardList.number + 1}">
           <a th:href="@{/board/(page=${page})}" th:text="${page}" class="num"></a>
        </span>
    </span>
        <a th:href="${boardList.last} ? '#' : @{/board/(page=${boardList.number + 2})}" class="arrow-right">></a>
        <a th:href="@{/board/(page=${boardList.totalPages})}" class="last">>></a>
    </div>
</body>
</html>